//Colors
$bg-active:#0c7cec;
$bg-grid: black;
$bg-light-black:#303030;

//Structure
$width: 80%;

//Font
$main-font-size: 0.9rem;
$big-font-size: 18px;
$small-font-size:12px;
$font-white:white;
$font-blue:#042e73;    
$font-light-grey:rgb(103, 103, 103);


